<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="utf-8">
    <title>lab 1</title>

    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    <!-- div for the digital temperature readout -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-5 jumbotron p-2 mx-1">
                <h1 id="sensor1"> Sensor : </h1>
            </div>
        </div>
    </div>

    <!-- centers the digital temperature reading -->
    <style>
        .row{
            justify-content: center;
        }
    </style>

    <!-- div for the dynamic graph -->
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid" id="data-temperature">
            </div>
        </div>
    </div>

    <!-- button that changes the units on the chart -->
    <div align="center">
        <button id="unitButton">Change Units</button><br><br>
    </div>

    <!-- text field which corresponds to the text message sent when the lower temperature bound has been reached -->
    <div id="low" align="center">
        <label for="lowMessage">Low Message:</label><br>
        <input type="text" id="lowMessage" name="lowMessage"><br><br>

        <label for="lowTemp" id="lowTempLabel">Lower bound (between 50 and 122):</label><br>
        <input type="number" id="lowTemp" name="lowTemp" min="50" max="122"><br><br>
    </div>

    <!-- text field which corresponds to the text message sent when the upper temperature bound has been reached -->
    <div id="high" align="center">
        <label for="highMessage">High Message:</label><br>
        <input type="text" id="highMessage" name="highMessage"><br><br>

        <label for="highTemp" id="highTempLabel">Upper bound (between 50 and 122):</label><br>
        <input type="number" id="highTemp" name="highTemp" min="50" max="122"><br><br>
    </div>

    <!-- text field in which the user enters their phone number -->
    <div id="phoneDiv" align="center">
        <label for="phone">Phone number (+1xxxxxxxxxx):</label><br>
        <input type="text" id="phone" name="phone"><br><br>
    </div>

    <!-- button which, when clicked, saves the low/high messages, low/high temperatures, and phone number -->
    <div align="center">
        <button id="saveButton">Save</button><br><br>
    </div>

    <!-- button which, when clicked, attempts to turn on the LCD -->
    <div align="center">
        <button id="virtualButton">Virtual Button</button><br><br>
    </div>

    <!-- begin javascript code -->
    <script>
        var chartTemperatue;                // the main chart on the webpage (highcharts object)
        var label = "Temperature (F)";      // chartTemperature field which is used to label the y-axis
        var yMax;                           // chartTemperature field which is used to set the maximum y-axis value
        var yMin;                           // chartTemperature field which is used to set the minimum y-axis value
        var xMin;                           // chartTemperature field which is used to set the minimum x-axis value
        var xMax;                           // chartTemperature field which is used to set the maximum x-axis value

        var degF = true;                    // bool which tells whether the webpage displays in fahrenheit or celsius

        var tempsF = [];                    // array which stores temperature readings in fahrenheit
        var tempsC = [];                    // array which stores temperature readings in celsius
        var tempsCurr;                      // array which references one of the two above arrays, depending on the desired units

        var lowTemp = -999;                 // lower temperature bound for the texting functionality
        var highTemp = 999;                 // upper temperature bound for the texting functionality
        var lowMessage = '';                // message to be texted when the lower bound is subsides
        var highMessage = '';               // message to be texted when the upper bound is exceeded
        var phone = '';                     // phone number by which to send texts

        let virtualButtonPressed = "false";     // a value of "true" should enable the LCD backlight

        // reference to the 'Temperature:' header
        let sensor = document.getElementById('sensor1');

        // reference to the button that changes units
        let unitButton = document.getElementById("unitButton");

        // reference to the button that saves info from the input fields
        let saveButton = document.getElementById("saveButton");

        // reference to the button that virtually controls the LCD
        let virtualButton = document.getElementById("virtualButton");

        /*
        * Description: This is the event handler function for the units button. In a nutshell, it
        *               converts all temperature readings on the page and updates the chart to 
        *               reflect the desired units.
        * Inputs: None (triggered by a mouse click over the units button)
        * Outputs: None
        */
        unitButton.addEventListener("click", function() {
            // flip degF (degF == true indicates degrees fahrenheit)
            degF = !degF;

            // if we are switching from fahrenheit to celsius...
            if (!degF) {
                // update the y-axis label, minimum y-value, and maximum y-value
                label = "Temperature (C)";
                yMin = 10;
                yMax = 50;

                // set the data to be displayed to the celsius dataset
                tempsCurr = tempsC;

                // update the upper and lower texting bounds
                lowTemp = (lowTemp - 32) * 5/9;
                highTemp = (highTemp - 32) * 5/9;

            }
            // if we are switching from celsius to fahrenheit...
            else {
                // update the y-axis label, minimum y-value, and maximum y-value
                label = "Temperature (F)";
                yMin = 50;
                yMax = 122;

                // set the data to be displayed to the fahrenheit dataset
                tempsCurr = tempsF;

                // update the upper and lower texting bounds
                lowTemp = (lowTemp * 9/5) + 32;
                highTemp = (highTemp * 9/5) + 32;
            }

            // update the chart on the webpage, using the variables initialized in the conditional above
            chartTemperatue.update({
                yAxis: {
                    title: {
                        text: label
                    },
                    min: yMin,
                    max: yMax
                },
                series: [{
                    data: tempsCurr
                }]
            });

            // update the labels for the lower bound input elements to reflect the new y-axis bounds
            document.getElementById('lowTempLabel').innerText = 'Lower bound (between ' + yMin + ' and ' + yMax + ': ';
            document.getElementById('highTempLabel').innerText = 'Upper bound (between ' + yMin + ' and ' + yMax + ': ';
        });

        /*
        * Description: This is the event handler function for the save button. It reads in text from the text 
        *               fields on the webpage and, if they aren't empty, uses the strings to reinitialize the 
        *               corresponding variables.
        * Inputs: None (triggered by a mouse click over the save button)
        * Outputs: None
        */
        saveButton.addEventListener("click", function() {
            // get the values from the input fields on the webpage
            let lowTempInput = document.getElementById('lowTemp').value;
            let highTempInput = document.getElementById('highTemp').value;
            let lowMessageInput = document.getElementById('lowMessage').value;
            let highMessageInput = document.getElementById('highTemp').value;
            let phoneInput = document.getElementById('phone').value;

            // use the values obtained above to initialize the corresponding variables (if the fields aren't empty)
            if (lowTempInput.length !== 0) { lowTemp = lowTempInput; }
            if (highTempInput.length !== 0) { highTemp = highTempInput; }
            if (lowMessageInput.length !== 0) { lowMessage = lowMessageInput; }
            if (highMessageInput.length !== 0) {highMessage = highMessageInput; }
            if (phoneInput.length !== 0) {phone = phoneInput; }
        });

        /*
        * Description: This is the event handler function for the units button. It simply inverts the value 
        *               of virtualButtonPressed, and then passes the string in a POST to the \data page.
        * Inputs: None (triggered by a mouse click over the units button)
        * Outputs: None
        */
        virtualButton.addEventListener("click", function() {
            // invert virtualButtonPressed
            if (virtualButtonPressed === "false") {
                virtualButtonPressed = "true";
            } else {
                virtualButtonPressed = "false";
            }

            // send a POST to the /data page, including virtualButtonPressed
            $.ajax({
                url: '/data',
                type: 'POST',
                data: {
                    buttonPressed: virtualButtonPressed
                }
            });
        });

        /*
        * Description: This function requests temperature readings from the /data page.
        * Inputs: None 
        * Outputs: None
        */
        function requestData()
        {
            // call the /data page to get temperature data
            let requests = $.get('/data');

            // enter this function once the data is received
            let tm = requests.done(function (result)
            {
                // extract the temperature reading (in fahrenheit) from the response message
                let fahrenheit = result[1];
                
                // convert the temperature reading to celsius for later use
                let celsius =  (result[1] - 32) * 5 / 9;
                celsius = Math.round(celsius * 100) / 100;

                // extract the time reading from the response messge
                let time = result[0];

                // update the x-axis values for both temperature datasets (this effectively "scrolls" the graph r->l)
                for (let i = 0; i < tempsF.length; i++) {
                    tempsF[i][0] = tempsF[i][0] + 1;
                    tempsC[i][0] = tempsC[i][0] + 1;
                }

                // this is the temperature which will eventually be added to the chart
                var useThisTemp;
                
                // if we received a valid temperature reading (sensor not unplugged & switch not off) proceed...
                if (fahrenheit < 150 && fahrenheit > -150) {

                    // assign useThisTemp based on the desired units
                    if (degF) { useThisTemp = fahrenheit; }
                    else { useThisTemp = celsius; }

                    // update the text on the "Temperature:" heading
                    sensor.textContent = label + ": " + useThisTemp.toString();

                    // if the temperature reading is outside the bounds, send a post to flaskSite.py
                    // this will set in motion the chain of events that triggers a text message to be sent
                    if (useThisTemp < lowTemp || useThisTemp > highTemp) {
                        $.ajax({
                            url: '/',
                            type: 'POST',
                            data: {
                                lowTemp: lowTemp,
                                highTemp: highTemp,
                                lowMessage: lowMessage,
                                highMessage: highMessage,
                                phone: phone,
                                temperature: useThisTemp
                            }
                        });
                    }
                
                // otherwise, if the temperature reading is greater than 150, the switch on the third box has been turned off
                } else if (fahrenheit > 150) {
                    // update the text on the "Temperature:" heading
                    sensor.textContent = "No data available";
                    
                    // set all temps to null (this will cause no point to be plotted on the chart for this moment)
                    useThisTemp = null;
                    fahrenheit = null;
                    celsius = null;
                    
                // otherwise (temperature < -150), the temperature sensor has been unplugged
                } else {
                    // update the text on the "Temperature:" heading
                    sensor.textContent = "Unplugged sensor";
                    
                    // set all temps to null (this will cause no point to be plotted on the chart for this moment)
                    useThisTemp = null;
                    fahrenheit = null;
                    celsius = null;
                }

                // push the tuple [time, temp] onto each dataset
                tempsF.push([time, fahrenheit]);
                tempsC.push([time, celsius]);

                // add the new point to the data series
                chartTemperatue.series[0].addPoint([time, useThisTemp], true, false);

                var useThisData;
                if(degF) { useThisData = tempsF; }
                else { useThisData = tempsC; }

                // update the chart to reflect the new minimum and maximum x-axis values
                chartTemperatue.update({
                    series: [{
                        data: useThisData
                    }]
                });

                // call the function again
                setTimeout(requestData);
            });
        }

        /*
        * Description: This function handles the creation of the chart on the webpage, utilizing the highcharts api.
        * Inputs: None 
        * Outputs: None
        */
        $(document).ready(function()
        {
            chartTemperatue = new Highcharts.Chart({
                chart: {
                    renderTo: 'data-temperature',
                    defaultSeriesType: 'spline',
                    zoomType: 'xy',
                    events: {
                        load: requestData
                    }
                },
                title: {
                    text: ''
                },
                xAxis: {
                    title: {
                        text: 'Seconds ago from the current time'
                    },
                    type: 'linear',
                    min: 0,
                    max: 300,
                    reversed: true
                },
                yAxis: {
                    title: {
                        text: 'Temperature (F)'
                    },
                    min: 50,
                    max: 122,
                    tickInterval: 5,
                    startOnTick: true,
                    endOnTick: true
                },
                series: [{
                    showInLegend: false,
                    color : '#c23d23',
                    lineColor: '#303030',
                    data: []
                }]
            });
        });
    </script>
</body>
</html>
